body{
    box-sizing: border-box;
    display: flex;
    margin: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 20vw;
    aspect-ratio: 1/1;
    gap: 1px;
    background-color: gainsboro;
}

.container div{
    background-color: rgba(164, 164, 164, 0.641);
}

.container .cross{
    content: 'x';
}

.select {
    height: 50px;
    width: 100px;
}

.select label{
    padding: 3px 20px;
    cursor: pointer;
}

.select input{
    display: none;
}
.select input:checked + label{
    background-color: blueviolet;
} 
.select ul {
    display: flex;
    list-style: none;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 0;
    
}

.select ul li{
    width: 100%;
    text-align: center;
    box-shadow: 4px 4px rgb(158, 158, 158);
}

.select ul li:hover{
    box-shadow: 0px 4px rgb(158, 158, 158);
}
