body{
    box-sizing: border-box;
    width: 80vw;
    margin: 20px auto;
    font-family: "Quicksand", sans-serif;
    background-color: cadetblue;
}

h2{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px 0;
}

button,
input,
select,
textarea {
  font-family: inherit;  /* restyling */
  font-size: 100%; /* restyling */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
    width: 80%;
}


.add-book{
    background-color: blanchedalmond;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    box-shadow: 2px 2px 4px gray;
    margin-left: auto;
    height: fit-content;

}
.book {
    height: 140px;
    background-color: palevioletred;
    width: 30px;
    box-shadow: inset -5px 3px #5a323763;
    padding: 5px;
    writing-mode: sideways-rl;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "M PLUS Rounded 1c", sans-serif;
    cursor: pointer;
}

.book-modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 12vw;
    background-color: brown;
    aspect-ratio: 1/1.2;
    left: 40vw;
    top: 150px;
    box-shadow: 5px 5px #f3f3f3, 3px 3px #fdfdfd, 8px 8px #160a0a;
    
}

.book-modal .title{
    font-weight: bold;

}

.form-add-book {
    display: none;
    position: fixed;
    height: fit-content;
    margin: auto;
    padding: 20px;
    top: 150px;
    left: 40vw;
    background-color: white;
    font-size: 0.9rem;
}

.form-add-book #add-personal-book{
    margin-top: 10px;
    border-radius: 5px;
    background-color: peachpuff;
}

.form-add-book .close {
    position: absolute;
    height: 19px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    right: 2%;
    top: 2%;
    padding: 0;
    margin: 0;
    color: #160a0a;
}

.form-add-book div{
    padding-top: 8px;
    display: flex;
    flex-direction: column;
}

.form-add-book .msg {
    color: red;
    font-size: 0.9rem;
    font-weight: 600;
}

.form-add-book input{
    border: rgb(163, 163, 163) 1px solid;
    border-radius: 5px;
    padding: 2px 4px;
    width: 100%;
}

.form-add-book input:hover{
    border: 1px solid palevioletred;
}

.form-add-book input:invalid{
    border: rgb(187, 74, 74) 1px solid;
}

.form-add-book button{
    margin-left: 80%;
    margin-top: 10px;
  border-radius: 5px;
  background-color: peachpuff;
  padding: 2px 6px;
  font-weight: 600;
  border: 1px solid;
}

.form-add-book button:hover{
    scale: 1.05;
    background-color: rgb(187, 74, 74);
    color: white;

}



.form-add-book .switch{
    height: 20px;
    display: inline-block;
    width: 50px;
    position: relative;

}

.form-add-book .read{
    flex-direction: column;

}


.form-add-book .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.form-add-book .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: .4s;
    transition: .4s;
    height: 25px;
    border-radius: 25px;
    background-color: #b9b7b78c;
    border: 1px #b1b1b1 solid;

}

.form-add-book .slider::before{
    content: '';
    height: 19px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: absolute;
    left: 4px;
    top: 3px;
    background-color: #093535;

}

.form-add-book input:checked + .slider {
    background-color: #093535
}
  
.form-add-book   input:focus + .slider {
    box-shadow: 0 0 1px #4dc2c0;
}

.form-add-book  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #d6ddddbe;
}

.modal-content{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.book-modal .remove {
    position: absolute;
  background-color: gray;
  bottom: -50px;
  left: 20%;
  border-radius: 5px;
  padding: 2px 4px;
  width: fit-content;
  font-size: 0.8rem
}

.rack {
    background-color: #504a37;
    border-bottom: 15px rgb(146, 84, 25) solid;
    height: 160px;
    display: flex;
    /* align-items: baseline; */
    gap: 2px;
    box-shadow: 0px 10px #52240a;
    padding: 10px;
}

