.book {
    height: 120px;
    background-color: palevioletred;
    width: 25px;
}

.book-modal{
    display: none;
    position: fixed;
    z-index: 1;
    height: 40vh;
    width: 30vw;
    background-color: brown;
}

.modal-content{
    width: 80%;
    height: 80%;
}

.rack {
    border-bottom: 15px brown solid;
    height: 125px;
    display: flex;
    align-items: baseline;
    gap: 2px;
}

